//Fonts
$acta-medium: "Acta Medium";
$sharp-sans: "Sharp Sans";

//Colors
$black: #1d1d26;
$midnight: #171e2d;
$mid-gray: #86878f;
$mid-light-gray: #c3c3c7;
$light-gray: #f0f2f6;
$mid-lighter-gray: #f3f6fa;
$white: #ffffff;

$dark-blue: #162b69;
$text-dark-blue: #172b6a;
$header-dark-blue: #152b69;
$blue: #2c58d1;
$light-blue: #dfedfa;
$very-light-blue: #f5f9fd;

$dark-red: #7b1c17;
$red: #f46e5d;
$light-red: #fceaec;
$error-red: #d0021b;

$dark-green: #185149;
$green: #57dfc7;
$light-green: #ddf2ef;

$yellow: #f3d35d;

//Special Colors
$background-color: #d8d8d8;
$modal-backdrop: rgba(84, 84, 84, 0.4);
$modal-text: #9b9b9b;

// Button Colors
$button-standard: rgba(44, 88, 209, 1);
$button-standard-hover: rgba(44, 88, 209, 0.6);
$button-dark: rgba(22, 43, 105, 1);
$button-dark-hover: rgba(22, 43, 105, 0.6);
